.game-board-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 700px;
}

@media (max-width: 900px) {
  .game-board {
    gap: 8px;
  }
}

@media (max-width: 600px) {
  .game-board {
    gap: 6px;
  }
  
  .game-board-container {
    padding: 5px;
  }
}
